/****************************

Universal Styling

*****************************/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

main {
  max-width: 1920px;
  background: white;
  margin: 20px, auto;
  padding: 4rem;
}

section {
  padding: 20px;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: violet;
  min-width: 500px;
  text-align: center;
}

p {
  font-size: 14px;
  line-height: 150%;
  padding: 20px;
}

header {
  text-align: center;
  background: lightyellow;
  padding: 10px;
  position: fixed;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  width: 100px;
}

nav a:hover {
  color: #333;
  background: lightpink;
}

nav a:active {
  background: violet;
}

nav li {
  display: inline;
  font-size: 24px;
  float: center;
}

footer {
  background: lightyellow;
  text-align: center;
  color: #333;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/****************************

index page styling

*****************************/

.hellokitty {
  position: absolute;
  top: 580px;
  animation: fly 8s linear infinite reverse;
  z-index: 100;
}

@keyframes fly {
  from {
    left: -100px;
  }
  to {
    left: 1000px;}
}

.mid-section .keroppi {
  float: left;
}

.keroppi {
  position: relative;
  right: 50px;
}
